@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: background 0.3s ease, color 0.3s ease;
}

body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}

.social-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #4ade80; /* tailwind emerald-400 */
}
