@tailwind base;
/* @tailwind components; */
@tailwind utilities;

/* Opcional: transiciones suaves para dark mode */
html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.social-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #4ade80; /* tailwind emerald-400 */
}
