---
import "../styles/global.css";
import MainNav from "../components/Navbar.vue";
import Hero from '../components/Hero.vue';
import Knowledge from '../components/KnowledgeSection.vue';
import Projects from '../components/ProjectsSection.vue';
import Contact from '../components/ContactSection.vue';
import Footer from '../components/Footer.vue';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Sebasti치n Ni침o | Front-End Developer | Web Developer | SEO | Wordpress | Drupal | Astro | Tailwind CSS | Vue</title>
    <meta name="description" content="Sebasti치n Ni침o is a Front-End Developer specializing in Vue.js, Astro, and Tailwind CSS, with strong expertise in WordPress, Drupal, UI/UX design, and technical SEO." />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  </head>
  <body class="bg-white text-black dark:bg-gray-900 dark:text-white font-sans">
    <MainNav client:load />
    <Hero client:load />
    <Knowledge client:load />
    <Projects client:visible />
    <Contact client:visible />
    <Footer client:visible />
  </body>
</html>
